__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Dataset folders (too large for git)
data/fruits-360/
data/fruits-262/



# OS
.DS_Store
Thumbs.db
